# Ignora tudo por padrão
/*

# Mantém este arquivo versionado
!/.gitignore

# Configs permitidas
!/hypr/
!/hypr/**
!/fish/
!/fish/**
!/fastfetch/
!/fastfetch/**
!/gtk-2.0/
!/gtk-2.0/**
!/gtk-3.0/
!/gtk-3.0/**
!/gtk-4.0/
!/gtk-4.0/**
!/kitty/
!/kitty/**
!/logos/
!/logos/**
!/tmux/
!/tmux/**
!/starship/
!/starship/**
!/nvim/
!/nvim/**
!/Thunar/
!/Thunar/**
!/triador/
!/triador/**
!/Vial/
!/Vial/**
!/vicinae/
!/vicinae/**
!/viallayout/
!/viallayout/**
!/voxtype/
!/voxtype/**
!/foxtype/
!/foxtype/**
!/wallpapers/
!/wallpapers/**
!/yay/
!/yay/**
!/yazi/
!/yazi/**
!/zed/
!/zed/**
